\.idea/
build/
pyxiannotator\.egg-info/
pyXiAnnotator\.egg-info/

dist/

\.directory

update

\.eggs/

.python-version

pyxiannotator/__pycache__/__init__.cpython-38.pyc

pyxiannotator/__pycache__/AnnotatedSpectrum.cpython-38.pyc

pyxiannotator/__pycache__/XiAnnotator.cpython-38.pyc

pyxiannotator/__pycache__/
